<% provide(:title, "Chỉnh sửa thông tin") %>


<div class="row">
  <div class="col-4">
    <%= render 'users/user_infor' %>
  </div>
  <div class="col-4 my_container container_edit_user">
    <div class="">
      <center><h3>Chỉnh sửa thông tin</h3></center>
      <hr>
      <%= form_with(model: @user, local: true) do |form| %>
        <%= render 'shared/error_messages', object: form.object %>
        <div class="row item_edit_pf">
          <div class="inputbox">
            <%= form.text_field :name, required: true %>
            <span>Tên</span>
            <i></i>
          </div>
          <div class="inputbox">
            <%= form.text_field :email, required: true %>
            <span>Email</span>
            <i></i>
          </div>
          <div class="inputbox">
            <%= form.password_field :password, required: true %>
            <span>Mật khẩu</span>
            <i></i>
          </div>
          <div class="inputbox">
            <%= form.password_field :password_confirmation, required: true %>
            <span>Nhập lại mật khẩu</span>
            <i></i>
          </div>
          <div class="col-7"></div>
          <div class="col-5">
            <%= form.submit "Thay đổi", class:"change_edit_pf" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-4"></div>
</div>
