<% provide(:title, "Sign up") %>
      <center>
      <h4 class="title_login">Sign up</h4>
      <hr>
      <%= form_with(model: @user, local: true) do |form| %>

            <p>Name<%= form.text_field :name %></p>

            <p>Email<%= form.text_field :email %></p>

            <p>Password<%= form.password_field :password %></p>

            <p>Password confirmation<%= form.password_field :password_confirmation %></p>

            <%= form.submit "Sign up" %>


        <%= link_to "Login", login_path %>
      <% end %>
      </center>