<%= form_with(model: @snapshot, local: true,) do |f| %>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-11">
            <%= render 'shared/error_messages', object: f.object %>
            <%= f.text_area :content, placeholder: "New post ..." %>
        </div>

        <div class="col-9">
                <%= f.file_field :image, style:"color: #383838;" %>
        </div>
        <div class="col-3">
            <%= f.submit "Post" %>
        </div>
    </div>
    <hr>
<% end %>

